# Example 2

This is a description of the project.

Some more stuff

In [1]:
import numpy as np
import pandas as pd

# Dataframes

In [2]:
df = pd.DataFrame({'a': np.linspace(0, 10, 50)})

In [3]:
df.head()

          a
0  0.000000
1  0.204082
2  0.408163
3  0.612245
4  0.816327

## Subsection 1

This is a subsection.

End.